<div class="row">
  
  <img class="img-responsive" id="book" src="https://journals.humankinetics.com/cover/journals/ijsc/ijsc_cover.jpg">



  <div class="main-block">
    <!-- <div class="card-deck">  -->
    <div class="row">
      <a routerLink="login">
      <div class="author card mr-3 mb-3">
        <div class="detail">
          <div class="content">
          <h3>Author Login</h3><br>
          <p>Author can login by providing their credentials.If you are a new user you can register by providing
            information.</p>
        </div>
      </div>
    </div>
  </a>
  <a routerLink="login">
    <div class="reviewer card mb-3">
      <div class="detail">
        <div class="content">
          <h3>Reviewer Login</h3><br>
          <p>Author can login by providing their credentials.If you are a new user you can register by providing
            information.</p>
        </div>
      </div>
    </div>
    </a>
  </div>

  <div class="row">
    <a routerLink="login">
    <div class="editor card mr-3">
      <div class="detail">
        <div class="content">
          <h3>Editor Login</h3><br>
          <p>Author can login by providing their credentials.If you are a new user you can register by providing
            information.</p>
        </div>
      </div>
    </div>
    </a>
    <a routerLink="login">
    
    <div class="publisher card">
      <div class="detail">
        <div class="content">
          <h3>Publisher Login</h3><br>
          <p>Author can login by providing their credentials.If you are a new user you can register by providing
            information.</p>
        </div>
      </div>
    </div>
    </a>
  </div>
</div>
<!-- </div> -->

</div>