<div class="container" id="container">
    <div >

        <div id="btn-group">
            <div id="btn"></div>
            <button type="button" id="login" class="toggle-btn"  (click)="login()">Sign In</button>
            <button type="button" id="register" class="toggle-btn" (click)="register()">Sign Up</button>
        </div>
    </div>
    <form action="#" class="form-container sign-in-container" id="sign-in">
            <h1>Sign in</h1>
            <div class="icons-container">
                <a class="icon" style="color:#3b5998;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a class="icon" style="color: #db4a39;"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a class="icon" style="color: #00aace;"><i class="fa fa-twitter" aria-hidden="true"></i></a>               
               
            </div>
            <span>or use your Account</span>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <a >Forgot your Password?</a>
            <button id="sign">Sign In</button>
        </form>
    <!-- </div>  -->
    
    <!-- <div class="form-container sign-up-container"> -->
        <form action="#" class="form-container sign-up-container" id="sign-up">
            <h1>Create Account</h1>
            <div class="icons-container">
                <a class="icon" style="color:#3b5998;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a class="icon" style="color: #db4a39;"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a class="icon" style="color: #00aace;"><i class="fa fa-twitter" aria-hidden="true"></i></a>               
               
                  
            </div>
            <span>or use email for Registration</span>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button id="sign" >Sign Up</button>
        </form>
    <!-- </div> -->
    
</div>